.app__stats-container {
    width: 80%;
    margin: 4rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;

    @media screen and (max-width: 1024px) {
        width: 100%;
        // flex-direction: column;
    }
}

.app__stats-item {
    @media screen and (max-width: 900px) {
        margin: 2rem 0;
    }
}